<html class="h-full bg-gray-100">
<head>
    <title>Customer Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
          integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/base.min.css"
          integrity="sha512-TbSbl7LIRNEKzATRyVAfAPIfRmd/2lMmh3YtkMELfpGSkUJP8CDxebT1XDw9LBU1N5vK+So58Goia0XlztByug=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/utilities.css"
          integrity="sha512-ReBuhRcoSR6TYErmFMzIVea0IP68fOqzEGZO0zBaH6YtBN7+4CNc2ARxtYzQyYoPs84tYf18cQr19azyXih6rQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/components.min.css"
          integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        input {
            -webkit-text-size-adjust: 100%;
            tab-size: 4;
            -webkit-font-smoothing: antialiased;
            --tw-bg-opacity: 1;
            box-sizing: border-box;
            border-style: solid;
            --tw-scroll-snap-strictness: proximity;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            font-family: inherit;
            color: inherit;
            margin: 0;
            appearance: none;
            background-color: #fff;
            border-width: 1px;
            padding-top: .5rem;
            padding-right: .75rem;
            padding-bottom: .5rem;
            padding-left: .75rem;
            display: block;
            width: 100%;
            border-radius: .375rem;
            --tw-border-opacity: 1;
            border-color: rgb(209 213 219 / var(--tw-border-opacity));
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            font-size: .875rem;
            line-height: 1.25rem;
        }

        input[type='submit'] {
            -webkit-text-size-adjust: 100%;
            tab-size: 4;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            border-style: solid;
            font-family: inherit;
            text-transform: none;
            cursor: pointer;
            -webkit-appearance: button;
            background-image: none;
            display: inline-flex;
            justify-content: center;
            border-radius: .375rem;
            border-width: 1px;
            border-color: transparent;
            --tw-bg-opacity: 1;
            background-color: rgb(79 70 229 / var(--tw-bg-opacity));
            padding-top: .75rem;
            padding-bottom: .75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }

        input[type='submit']:hover{
            -webkit-text-size-adjust: 100%;
            tab-size: 4;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            border-style: solid;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-scroll-snap-strictness: proximity;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            font-family: inherit;
            text-transform: none;
            cursor: pointer;
            -webkit-appearance: button;
            background-image: none;
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-radius: .375rem;
            border-width: 1px;
            border-color: transparent;
            padding-top: .75rem;
            padding-bottom: .75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
            --tw-bg-opacity: 1;
            background-color: rgb(67 56 202 / var(--tw-bg-opacity));
        }
    </style>
</head>

<body class="bg-white">
<div class="py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24 relative max-w-xl mx-auto">

    <div class='text-center'>
        <img src="<%= login.logo %>" class='inline' />
        <h1 class='text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl'><%= login.name %></h1>
            <h2 class='mt-4 text-lg leading-6 text-gray-500'><%= login.description %></h2>
    </div>

    <div class='pt-5'>
        <div class='js-login'>
            <form method='post'>
                <label for="email" class="block text-sm font-medium text-gray-700"><%= login.email %></label>
                <div class="mt-1">
                    <input type="email" name="email" id="email" required
                           class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                           placeholder="you@example.com">
                </div>
                <input type='submit' class='block mt-4' value=<%= login.button.default %>>
            </form>
        </div>

        <div class='js-success hidden'>
            <div class="rounded-md bg-green-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/check-circle -->
                        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm font-medium text-green-800"><%= success.message %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class='js-error hidden'>
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800"><%= error.alert.title %></h3>
                        <div class="mt-2 text-sm text-red-700 js-error-message">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
      const $ = (s) => document.querySelector(s);

      $('form').addEventListener('submit', (event) => {
        event.preventDefault();
        const email = $('input[name=email]').value;

        $('input[type=submit]').value = <%- JSON.stringify(login.button.loading) %>;
        $('input[type=submit]').setAttribute('disabled', 'disabled');

        fetch(`${location.origin}/auth?email=${email}`, {
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
          headers: {
            'Content-Type': 'application/json',
          },
        }).then((resp) => {
          if(resp.status !== 200){
            return Promise.reject(new Error(resp.statusText));
          }

          $('.js-error').classList.add('hidden');
          $('.js-login').classList.add('hidden');
          $('.js-success').classList.remove('hidden');
        }).catch(err => {
          $('.js-success').classList.add('hidden');
          $('.js-error').classList.remove('hidden');

          $('input[type=submit]').value = <%- JSON.stringify(login.button.default) %>;
          $('input[type=submit]').removeAttribute('disabled');

          // @todo add sentry integration
          $('.js-error-message').innerText = err.message;
        });

        return false;
      });
    </script>
</div>
</body>
</html>
