<html>
    <head>
        <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/inner-46fZ0nF3xKgL4ul3bb0uw.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body class="stripeInFrame appView iframe desktop fr">
        <div class="overlayView active">
            <form class="checkoutView"
                  style="opacity: 1; transition: none 0s ease 0s; transform: translateY(0px) scale(1); margin-top: -243px; position: absolute;">
                <div class="backgroundView" style="height: 593px;">
                    <div class="backgroundTop">
                        <div></div>
                    </div>
                    <div class="backgroundBottom" style="height: 900px;">
                        <div style="height: 950px; transition: none 0s ease 0s; transform: translateY(-537px);"></div>
                    </div>
                </div>
                <div class="bodyView">
                    <div class="layoutView contentView" style="height: 328px;">
                        <div id="logo" class="layoutSubview"
                             style="z-index: 100; height: 110px; transform: translateY(0px); opacity: 1; transition: none 0s ease 0s;">
                            <header style="">
                                <div class="content">
                                    <div class="background">
                                        <div class="realBackground"></div>
                                    </div>
                                    <div class="image"><img src="<%= logo %>"></div>
                                    <div class="title"><h1><%= name %></h1>
                                        <h2 style="overflow: auto; white-space: normal;"><%= description %></h2></div>
                                </div>
                            </header>
                        </div>
                        <div id="email-input" class="layoutSubview"
                             style="height: 181px; transform: translateY(110px); opacity: 1; transition: none 0s ease 0s;">
                            <div class="layoutView paymentView"
                                 style="display: flex; justify-content: center; height: 100%;top: 0;">
                                <div class="layoutSubview"
                                     style="height: 55px; transform: translateY(0px); opacity: 1; transition: none 0s ease 0s;top: 0; bottom: 0;margin: auto;">
                                    <div class="emailInput input">
                                        <input tabindex="1" class="control" id="email" type="email" required name="email"
                                               x-autocompletetype="email" autocompletetype="email"
                                               autocorrect="off" spellcheck="off" autocapitalize="off"
                                               placeholder="E-mail address">
                                        <span
                                                class="spinnerContainer" style="display: none;"><div class="svgSpinner"
                                                                                                     style="width: 14px; height: 15px;"><svg
                                                        version="1.1" viewBox="0 0 44 46" width="14" height="15"><path
                                                            d="M22,15 C20.3465171,15 19,13.6573979 19,12.0012144 L19,10.0012144 C19,11.6573979 20.3465171,13 22,13 C23.6568542,13 25,11.6577357 25,10.0012144 L25,12.0012144 C25,13.6577357 23.6568542,15 22,15 Z M22,15"
                                                            style="fill:#fff"></path><path
                                                            d="M22,47 C20.3465171,47 19,45.6573979 19,44.0012144 L19,42.0012144 C19,43.6573979 20.3465171,45 22,45 C23.6568542,45 25,43.6577357 25,42.0012144 L25,44.0012144 C25,45.6577357 23.6568542,47 22,47 Z M22,47"
                                                            style="fill:#fff"></path><path
                                                            d="M38.8236277,37.0772292 C39.202479,38.119598 38.9691689,39.3158923 38.1413349,40.1443237 C36.9897639,41.2967258 35.1349124,41.2800552 33.9806001,40.1249099 L29.8780649,36.0194139 C29.0262287,35.1669629 28.7982817,33.958707 29.1763723,32.9227708 C29.320879,33.3203657 29.5544503,33.6955657 29.8780649,34.0194139 L33.9806001,38.1249099 C35.1349124,39.2800552 36.9897639,39.2967258 38.1413349,38.1443237 C38.4537615,37.8316717 38.6815084,37.4666241 38.8236277,37.0772292 Z M38.8236277,37.0772292"
                                                            style="fill:#fff"></path><path
                                                            d="M0,24 C0,23.6498487 0.0602087038,23.3134633 0.170853921,23.0007162 C0.582648744,24.1655344 1.69309685,25 2.99878564,25 L10.0012144,25 C11.3066748,25 12.4173029,24.1633914 12.8291461,22.9992841 C12.9397934,23.3122651 13,23.6490969 13,24 C13,25.6534829 11.6573979,27 10.0012144,27 L2.99878564,27 C1.34226429,27 0,25.6568542 0,24 Z M0,24"
                                                            style="fill:#fff"></path><path
                                                            d="M32,24 C32,23.6498487 32.0602087,23.3134633 32.1708539,23.0007162 C32.5826487,24.1655344 33.6930969,25 34.9987856,25 L42.0012144,25 C43.3066748,25 44.4173029,24.1633914 44.8291461,22.9992841 C44.9397934,23.3122651 45,23.6490969 45,24 C45,25.6534829 43.6573979,27 42.0012144,27 L34.9987856,27 C33.3422643,27 32,25.6568542 32,24 Z M32,24"
                                                            style="fill:#fff"></path><path
                                                            d="M38.8244343,9.92237447 C39.2040079,10.9644844 38.9668835,12.1780334 38.1249099,13.0193999 L34.0194139,17.1219351 C32.8465377,18.2939654 31.0000997,18.284933 29.8556763,17.1413349 C29.0241955,16.3104538 28.801323,15.1134515 29.1755657,14.0776255 C29.316748,14.4652379 29.5432483,14.8291322 29.8556763,15.1413349 C31.0000997,16.284933 32.8465377,16.2939654 34.0194139,15.1219351 L38.1249099,11.0193999 C38.4465951,10.6979466 38.6799902,10.3221656 38.8244343,9.92237447 Z M38.8244343,9.92237447"
                                                            style="fill:#fff"></path><path
                                                            d="M15.8244343,32.9223745 C16.2040079,33.9644844 15.9668835,35.1780334 15.1249099,36.0193999 L11.0194139,40.1219351 C9.84653768,41.2939654 8.00009967,41.284933 6.85567627,40.1413349 C6.02419549,39.3104538 5.801323,38.1134515 6.17556572,37.0776255 C6.31674798,37.4652379 6.54324826,37.8291322 6.85567627,38.1413349 C8.00009967,39.284933 9.84653768,39.2939654 11.0194139,38.1219351 L15.1249099,34.0193999 C15.4465951,33.6979466 15.6799902,33.3221656 15.8244343,32.9223745 Z M15.8244343,32.9223745"
                                                            style="fill:#fff"></path><path
                                                            d="M15.8236277,14.0772292 C16.202479,15.119598 15.9691689,16.3158923 15.1413349,17.1443237 C13.9897639,18.2967258 12.1349124,18.2800552 10.9806001,17.1249099 L6.87806494,13.0194139 C6.02622871,12.1669629 5.79828169,10.958707 6.17637227,9.92277079 C6.32087904,10.3203657 6.55445033,10.6955657 6.87806494,11.0194139 L10.9806001,15.1249099 C12.1349124,16.2800552 13.9897639,16.2967258 15.1413349,15.1443237 C15.4537615,14.8316717 15.6815084,14.4666241 15.8236277,14.0772292 Z M15.8236277,14.0772292"
                                                            style="fill:#fff"></path><path
                                                            d="M22,0 C20.3431458,0 19,1.34226429 19,2.99878564 L19,10.0012144 C19,11.6573979 20.3465171,13 22,13 L22,13 C23.6568542,13 25,11.6577357 25,10.0012144 L25,2.99878564 C25,1.34260206 23.6534829,0 22,0 L22,0 Z M22,0"
                                                            style="fill: rgb(0, 0, 0); opacity: 1;"></path><path
                                                            d="M6.85866507,6.85567627 C5.715067,8.00009967 5.7060346,9.84653768 6.87806494,11.0194139 L10.9806001,15.1249099 C12.1349124,16.2800552 13.9897639,16.2967258 15.1413349,15.1443237 C16.284933,13.9999003 16.2939654,12.1534623 15.1219351,10.9805861 L11.0193999,6.87509014 C9.86508755,5.71994476 8.01023609,5.70327417 6.85866507,6.85567627 Z M6.85866507,6.85567627"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.885714;"></path><path
                                                            d="M2.99878564,19 C1.34260206,19 0,20.3465171 0,22 L0,22 C0,23.6568542 1.34226429,25 2.99878564,25 L10.0012144,25 C11.6573979,25 13,23.6534829 13,22 L13,22 C13,20.3431458 11.6577357,19 10.0012144,19 L2.99878564,19 Z M2.99878564,19"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.771429;"></path><path
                                                            d="M10.9805861,29.8780649 L6.87509014,33.9806001 C5.71994476,35.1349124 5.70327417,36.9897639 6.85567627,38.1413349 C8.00009967,39.284933 9.84653768,39.2939654 11.0194139,38.1219351 L15.1249099,34.0193999 C16.2800552,32.8650876 16.2967258,31.0102361 15.1443237,29.8586651 C13.9999003,28.715067 12.1534623,28.7060346 10.9805861,29.8780649 Z M10.9805861,29.8780649"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.657143;"></path><path
                                                            d="M22,32 C20.3431458,32 19,33.3422643 19,34.9987856 L19,42.0012144 C19,43.6573979 20.3465171,45 22,45 L22,45 C23.6568542,45 25,43.6577357 25,42.0012144 L25,34.9987856 C25,33.3426021 23.6534829,32 22,32 L22,32 Z M22,32"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.542857;"></path><path
                                                            d="M29.8586651,29.8556763 C28.715067,31.0000997 28.7060346,32.8465377 29.8780649,34.0194139 L33.9806001,38.1249099 C35.1349124,39.2800552 36.9897639,39.2967258 38.1413349,38.1443237 C39.284933,36.9999003 39.2939654,35.1534623 38.1219351,33.9805861 L34.0193999,29.8750901 C32.8650876,28.7199448 31.0102361,28.7032742 29.8586651,29.8556763 Z M29.8586651,29.8556763"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.428571;"></path><path
                                                            d="M34.9987856,19 C33.3426021,19 32,20.3465171 32,22 L32,22 C32,23.6568542 33.3422643,25 34.9987856,25 L42.0012144,25 C43.6573979,25 45,23.6534829 45,22 L45,22 C45,20.3431458 43.6577357,19 42.0012144,19 L34.9987856,19 Z M34.9987856,19"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.314286;"></path><path
                                                            d="M33.9805861,6.87806494 L29.8750901,10.9806001 C28.7199448,12.1349124 28.7032742,13.9897639 29.8556763,15.1413349 C31.0000997,16.284933 32.8465377,16.2939654 34.0194139,15.1219351 L38.1249099,11.0193999 C39.2800552,9.86508755 39.2967258,8.01023609 38.1443237,6.85866507 C36.9999003,5.715067 35.1534623,5.7060346 33.9805861,6.87806494 Z M33.9805861,6.87806494"
                                                            style="fill: rgb(0, 0, 0); opacity: 0.2;"></path></svg></div></span>
                                        <div class="svg icon" style="width: 30px; height: 30px;">
                                            <svg version="1.1" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                                                <g fill-rule="evenodd">
                                                    <path d="M1.86849119,1.00882648 C1.91231938,1.00300503 1.95704343,1 2.00247329,1 L11.9975267,1 C12.0428075,1 12.0874644,1.00306369 12.1312901,1.00899658 L7,5 L1.86849119,1.00882648 Z M1.05353134,1.67496881 C1.01882906,1.77613675 1,1.88463985 1,1.99754465 L1,9.00245535 C1,9.55338405 1.45576096,10 2.00247329,10 L11.9975267,10 C12.5511774,10 13,9.5536886 13,9.00245535 L13,1.99754465 C13,1.88482573 12.9809217,1.77647338 12.9458895,1.67541927 L7,6.29999999 L1.05353134,1.67496881 Z M2.00585866,0 C0.898053512,0 0,0.900176167 0,1.99201702 L0,9.00798298 C0,10.1081436 0.897060126,11 2.00585866,11 L11.9941413,11 C13.1019465,11 14,10.0998238 14,9.00798298 L14,1.99201702 C14,0.891856397 13.1029399,0 11.9941413,0 L2.00585866,0 Z M2.00585866,0"
                                                          style="fill:#2b2b2b" transform="translate(8,10)"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="success" class="layoutSubview"
                             style="display:none; height: 181px; transform: translateY(110px); opacity: 1; transition: none 0s ease 0s;">
                            <div class="layoutView paymentView"
                                 style="display: flex; justify-content: center; height: 100%;top: 0;">
                                <div class="layoutSubview"
                                     style="height: 55px; transform: translateY(0px); opacity: 1; transition: none 0s ease 0s;top: 0; bottom: 0;margin: auto;">
                                    <div class="emailInput input">
                                        <div><%= messageOnSent %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="submit-button" class="layoutSubview"
                             style="z-index: 100; height: 37px; transform: translateY(291px); opacity: 1; transition: none 0s ease 0s;">
                            <div class="buttonsView">
                                <div class="button submit" style="transform-origin: 100% 50%;">
                                    <div class="inner">
                                        <button tabindex="2" type="submit" id="submitButton"><span><span class="iconTick"
                                                                                                         style="opacity: 1; transform: translateX(0px); transition: none 0s ease 0s;"><%= connectButton %></span></span>
                                            <div class="spinnerContainer"
                                                 style="opacity: 0; display: none; transition: none 0s ease 0s;">
                                                <div class="svgSpinner" style="width: 18px; height: 19px;">
                                                    <svg version="1.1" viewBox="0 0 44 46" width="18" height="19">
                                                        <path d="M22,15 C20.3465171,15 19,13.6573979 19,12.0012144 L19,10.0012144 C19,11.6573979 20.3465171,13 22,13 C23.6568542,13 25,11.6577357 25,10.0012144 L25,12.0012144 C25,13.6577357 23.6568542,15 22,15 Z M22,15"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M22,47 C20.3465171,47 19,45.6573979 19,44.0012144 L19,42.0012144 C19,43.6573979 20.3465171,45 22,45 C23.6568542,45 25,43.6577357 25,42.0012144 L25,44.0012144 C25,45.6577357 23.6568542,47 22,47 Z M22,47"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M38.8236277,37.0772292 C39.202479,38.119598 38.9691689,39.3158923 38.1413349,40.1443237 C36.9897639,41.2967258 35.1349124,41.2800552 33.9806001,40.1249099 L29.8780649,36.0194139 C29.0262287,35.1669629 28.7982817,33.958707 29.1763723,32.9227708 C29.320879,33.3203657 29.5544503,33.6955657 29.8780649,34.0194139 L33.9806001,38.1249099 C35.1349124,39.2800552 36.9897639,39.2967258 38.1413349,38.1443237 C38.4537615,37.8316717 38.6815084,37.4666241 38.8236277,37.0772292 Z M38.8236277,37.0772292"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M0,24 C0,23.6498487 0.0602087038,23.3134633 0.170853921,23.0007162 C0.582648744,24.1655344 1.69309685,25 2.99878564,25 L10.0012144,25 C11.3066748,25 12.4173029,24.1633914 12.8291461,22.9992841 C12.9397934,23.3122651 13,23.6490969 13,24 C13,25.6534829 11.6573979,27 10.0012144,27 L2.99878564,27 C1.34226429,27 0,25.6568542 0,24 Z M0,24"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M32,24 C32,23.6498487 32.0602087,23.3134633 32.1708539,23.0007162 C32.5826487,24.1655344 33.6930969,25 34.9987856,25 L42.0012144,25 C43.3066748,25 44.4173029,24.1633914 44.8291461,22.9992841 C44.9397934,23.3122651 45,23.6490969 45,24 C45,25.6534829 43.6573979,27 42.0012144,27 L34.9987856,27 C33.3422643,27 32,25.6568542 32,24 Z M32,24"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M38.8244343,9.92237447 C39.2040079,10.9644844 38.9668835,12.1780334 38.1249099,13.0193999 L34.0194139,17.1219351 C32.8465377,18.2939654 31.0000997,18.284933 29.8556763,17.1413349 C29.0241955,16.3104538 28.801323,15.1134515 29.1755657,14.0776255 C29.316748,14.4652379 29.5432483,14.8291322 29.8556763,15.1413349 C31.0000997,16.284933 32.8465377,16.2939654 34.0194139,15.1219351 L38.1249099,11.0193999 C38.4465951,10.6979466 38.6799902,10.3221656 38.8244343,9.92237447 Z M38.8244343,9.92237447"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M15.8244343,32.9223745 C16.2040079,33.9644844 15.9668835,35.1780334 15.1249099,36.0193999 L11.0194139,40.1219351 C9.84653768,41.2939654 8.00009967,41.284933 6.85567627,40.1413349 C6.02419549,39.3104538 5.801323,38.1134515 6.17556572,37.0776255 C6.31674798,37.4652379 6.54324826,37.8291322 6.85567627,38.1413349 C8.00009967,39.284933 9.84653768,39.2939654 11.0194139,38.1219351 L15.1249099,34.0193999 C15.4465951,33.6979466 15.6799902,33.3221656 15.8244343,32.9223745 Z M15.8244343,32.9223745"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M15.8236277,14.0772292 C16.202479,15.119598 15.9691689,16.3158923 15.1413349,17.1443237 C13.9897639,18.2967258 12.1349124,18.2800552 10.9806001,17.1249099 L6.87806494,13.0194139 C6.02622871,12.1669629 5.79828169,10.958707 6.17637227,9.92277079 C6.32087904,10.3203657 6.55445033,10.6955657 6.87806494,11.0194139 L10.9806001,15.1249099 C12.1349124,16.2800552 13.9897639,16.2967258 15.1413349,15.1443237 C15.4537615,14.8316717 15.6815084,14.4666241 15.8236277,14.0772292 Z M15.8236277,14.0772292"
                                                              style="fill:rgba(46, 85, 153, 0.2)"></path>
                                                        <path d="M22,0 C20.3431458,0 19,1.34226429 19,2.99878564 L19,10.0012144 C19,11.6573979 20.3465171,13 22,13 L22,13 C23.6568542,13 25,11.6577357 25,10.0012144 L25,2.99878564 C25,1.34260206 23.6534829,0 22,0 L22,0 Z M22,0"
                                                              style="fill: rgb(255, 255, 255); opacity: 1;"></path>
                                                        <path d="M6.85866507,6.85567627 C5.715067,8.00009967 5.7060346,9.84653768 6.87806494,11.0194139 L10.9806001,15.1249099 C12.1349124,16.2800552 13.9897639,16.2967258 15.1413349,15.1443237 C16.284933,13.9999003 16.2939654,12.1534623 15.1219351,10.9805861 L11.0193999,6.87509014 C9.86508755,5.71994476 8.01023609,5.70327417 6.85866507,6.85567627 Z M6.85866507,6.85567627"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.885714;"></path>
                                                        <path d="M2.99878564,19 C1.34260206,19 0,20.3465171 0,22 L0,22 C0,23.6568542 1.34226429,25 2.99878564,25 L10.0012144,25 C11.6573979,25 13,23.6534829 13,22 L13,22 C13,20.3431458 11.6577357,19 10.0012144,19 L2.99878564,19 Z M2.99878564,19"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.771429;"></path>
                                                        <path d="M10.9805861,29.8780649 L6.87509014,33.9806001 C5.71994476,35.1349124 5.70327417,36.9897639 6.85567627,38.1413349 C8.00009967,39.284933 9.84653768,39.2939654 11.0194139,38.1219351 L15.1249099,34.0193999 C16.2800552,32.8650876 16.2967258,31.0102361 15.1443237,29.8586651 C13.9999003,28.715067 12.1534623,28.7060346 10.9805861,29.8780649 Z M10.9805861,29.8780649"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.657143;"></path>
                                                        <path d="M22,32 C20.3431458,32 19,33.3422643 19,34.9987856 L19,42.0012144 C19,43.6573979 20.3465171,45 22,45 L22,45 C23.6568542,45 25,43.6577357 25,42.0012144 L25,34.9987856 C25,33.3426021 23.6534829,32 22,32 L22,32 Z M22,32"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.542857;"></path>
                                                        <path d="M29.8586651,29.8556763 C28.715067,31.0000997 28.7060346,32.8465377 29.8780649,34.0194139 L33.9806001,38.1249099 C35.1349124,39.2800552 36.9897639,39.2967258 38.1413349,38.1443237 C39.284933,36.9999003 39.2939654,35.1534623 38.1219351,33.9805861 L34.0193999,29.8750901 C32.8650876,28.7199448 31.0102361,28.7032742 29.8586651,29.8556763 Z M29.8586651,29.8556763"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.428571;"></path>
                                                        <path d="M34.9987856,19 C33.3426021,19 32,20.3465171 32,22 L32,22 C32,23.6568542 33.3422643,25 34.9987856,25 L42.0012144,25 C43.6573979,25 45,23.6534829 45,22 L45,22 C45,20.3431458 43.6577357,19 42.0012144,19 L34.9987856,19 Z M34.9987856,19"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.314286;"></path>
                                                        <path d="M33.9805861,6.87806494 L29.8750901,10.9806001 C28.7199448,12.1349124 28.7032742,13.9897639 29.8556763,15.1413349 C31.0000997,16.284933 32.8465377,16.2939654 34.0194139,15.1219351 L38.1249099,11.0193999 C39.2800552,9.86508755 39.2967258,8.01023609 38.1443237,6.85866507 C36.9999003,5.715067 35.1534623,5.7060346 33.9805861,6.87806494 Z M33.9805861,6.87806494"
                                                              style="fill: rgb(255, 255, 255); opacity: 0.2;"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function() {
                $("form").on('submit', function (e) {
                    e.preventDefault();
                    $.ajax({
                        url : `${location.protocol}//${location.hostname}/auth?email=${$("input[name=email]").val()}`,
                        type : 'POST',
                        success : function() {
                            $("#email-input").hide()
                            $("#submit-button").hide()
                            $("#success").show()
                        },
                        error : function(request,error)
                        {
                            console.error(error)
                        }
                    });
                });
            })
        </script>
    </body>
</html>
